@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	padding: 0 15px;
	font-size: 1em;
	background: url("../img/herbs.jpg") center no-repeat #fff;
	background-size: cover;	 
	
	
}

.container{
	width: 100%;
	max-width: 960px;
	margin: auto;
}

h1,
h2,
h3,
h4 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.857em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/

/* Mobile Navbar */



/*END Mobile Navbar*/


header {
	height: 110px;	
	margin: 0 auto;
	width: 100%;
}

header h1 {
	/*float: left;*/
	text-align:  center;
	margin: 0;
	padding: 38px 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	float: right;	
	padding: 20px 0;	
}

header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;	
	padding: 10px 0;
	display: flex;
	justify-content: space-around;
	align-items: center; 
}
header nav ul li a{
	text-decoration: none;
	color:#FFFFFF;
}

.navbar-toggler { /* scss code */
	background-color: #ffffff; 
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.main-image {
	height: auto;
	float: left;
}
.main-image img {
	width: 100%;
	
}

.main-title {
	height: auto;
	float: left;
}
.main-title h3 {
	text-align: center;
	padding: 5px 0;
	color: #FFFFFF;
	
}
.main-title p {
	padding: 0 0 20px 0;
	font-size: 1em;
	line-height: 25px;
	color: #ffffff;
	text-align: center; 
}

.section-one,
.section-two,
.section-three {
    height: 275px;
	width: 100%;
    float: left;	
    margin-bottom: 5px;
    background-color: #ffffff;
    opacity: 75%;
	
}

.section-one h4 {
	padding: 10px 0;
	text-align: center;
	color: #000000;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
	text-align: center;
	color: #000000;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;	
	text-align: center; 
}

.reviews {
	color: #000000;
	font-size: 1em;
	line-height: 21px;
	text-align: center; 
}

.address {
	font-size: 1em;
	line-height: 24px;
	color: #000000; 
	text-align: center;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;	
	margin: 0 auto;
	clear: both;
	text-align: center;
	width: 100%;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #ffffff;
	font-size: 0.875em;	
}


/*  Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */ 
@media (min-width: 576px) { 

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {	
	
	.navbar-toggler-icon {
		float: right; 
	}
	
	.bottom-section {
		flex-flow: nowrap;
		align-items: flex-start;
	}
	
	.main-title h3 {
		text-align: left;
	}
	
	.main-title p {
		text-align: left; 
	}
	
	.section-one,
	.section-two,
	.section-three {
		width: 33%;	
		margin: 0 5px;
		height: 375px;		
	}
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

} 


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
		
	header, h1 {
		float: left; 
	}
	
	header .navbar {
		float: right;
    	width: 37.5%;
    	padding: 46px 0;
	}
	
	header nav ul li {	
	padding-left: 11px;	
	display: inline;	
	}
	
	
	.main-title h3 {
		text-align: left;
	}
	
	.main-title p {
		text-align: left; 
	}
	
	.section-one,
	.section-two,
	.section-three {
		height: 300px;	
		
		
	}
	
}
